body {
    display: flex;
    height: 100vh;    
}

div {
    width: 7em;
    height: 7em;
    margin: auto;   
    background-color: red;
    border-radius: 50%;    
    animation: circle-to-square 2s 0.3s infinite cubic-bezier(0.0, 0.0, 0.58, 1.0) alternate;
}

@keyframes circle-to-square {
    from  {
      border-radius:50%;
      background:red;
      transform:scale(1);
    }
    
    to {  
      border-radius:0;
      background:orange;
      transform: scale(1.7);            
    }
}