html {
    background: rgb(238, 238, 238);
    color: rgb(51, 51, 51)
}

body {
    background-color: rgb(238, 238, 238);
}

article, aside {
    display: inline-block;
}

article {
    width: 65%;
    padding: 3em;
    padding-right: 0.5em;
    margin: 0 auto;
}

aside{
    width: 20%;
    vertical-align: top;
    padding-top: 3em;    
}

figure {
    margin-left: 0;    
}

img {
    max-width: 30em;
    max-height: 20em;
}

ul li {
    list-style: square;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

