.hero {
    color: white;    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('../images/picture.jpg');
    background-position: center, center;
    background-repeat: no-repeat, repeat; 
    background-size: cover, cover;
    /* min-height: 40vh; */
}

.hero h1 {
    padding: 20vh 5vw 10vh;
    text-align: right;
}