body {
    background-color: rgb(238, 238, 238);
    width: 55%;
    margin: 1em auto;
}

header {
    border-bottom: 0.2em solid black;
}

section {
    margin-bottom: 4em;
}

img {
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(255, 255, 255);
    border: 0.1em solid black;
    padding: 0.5em;
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.25);
}

h1, h2, h3, blockquote {
    font-family: Georgia, serif;
}

h1 {
    font-size: 3em;
    display: inline-block;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.3em;
}

blockquote {
    font-style: italic;
    border-left: 0.3em solid #bbb;
    padding-left: 2em;
    margin-top: 0;
    float: right;
    width: 40%;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    text-align: right;
}

img:last-of-type {
    float: left;
    margin: 1em;
    margin-left: 0;
    margin-top: 0;
}

article > section:first-of-type > img {    
    float: right;
    margin: 0 0 0 1em;
}