body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5em;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
    padding: 1.2em;
    font-size: 14px;
}

header, main, div.sidebar, footer {
    padding: 1.5em 2em;
    color: white;
    background-color: black;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

div.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}