@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
/* @import "https://use.fontawesome.com/releases/v5.8.2/css/all.css"; */
* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;    
}

body {
    display: flex;
    height: 100vh;
}

ul {
    margin: auto;
    list-style-type: none;
}

ul li { 
    margin-bottom: 0.7em;
    font-weight: bold;
    opacity: 0;
    animation: fade-in-from-left 0.5s 0.1s 1 cubic-bezier(0.0, 0.0, 1.0, 1.0) forwards;
}

@keyframes fade-in-from-left {
    from  {
        opacity: 0;
        transform: translateX(-100%);
    }
    
    to {  
      opacity: 1; 
      transform: translateX(0);           
    }
}

ul li:nth-child(1) {
    animation-delay: 0.5s;
}

ul li:nth-child(2) {
    animation-delay: 1s;
}

ul li:nth-child(3) {
    animation-delay: 1.5s;
}

ul li:nth-child(4) {
    animation-delay: 2s;
}

ul li:nth-child(5) {
    animation-delay: 2.5s;
}

ul li:nth-child(6) {
    animation-delay: 3s;
}

ul li:nth-child(7) {
    animation-delay: 3.5s;
}

ul li i {   
    font-size: 0.8em;
}

ul li span {
    margin-left: 1em;
}