header nav {
    display: flex; 
    justify-content: space-between;    
    width: 70%; 
    margin: 0 auto;
}

header nav ul {
    display: flex; 
    list-style-type: none;   
}

header nav ul li {
    margin: 1em;   
}

header nav ul:first-child li:first-child {
    position: relative;
    color: rgb(250, 91, 61);
}

header nav ul:last-child li {
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 0.1em solid rgb(221, 221, 221);
}

.fa-sort-down {
    position: absolute;   
    margin-left: 0.2em; 
}