@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.social {
    display: flex;    
}

.social li {
    display: block;
    list-style: none;
    margin-right: 1em;    
}

.social a {
    display: flex;   
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width: 2em;
    height: 2em;
    line-height: 1;
    padding: 0.5em;
    border-radius: 50%;  
    transition: background 0.2s ease-in;      
}

.site-media .social {
    padding-top: 2em;
}

.social a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.fa-facebook-square:hover {
    color: #3C5A99;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.fa-instagram:hover {
    color: #46748D;
}